.grid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0px;
}

app-square {
    border: 1px gray solid;
    height: 200px;
    display: flex; //Align the X or O in the centre of the square
    align-items: center;
    justify-content: center;
}

h1, h2 {
    text-align: center;
}

h2 {
    height: 50px;
}

button {
    width: 200px;
}